body {
  background: rgb(23,17,115);
  background: linear-gradient(117deg, rgba(23,17,115,1) 0%, rgba(9,90,121,1) 30%, rgba(148,219,233,1) 100%);
}

header {
  background: rgb(195,194,204);
  background: linear-gradient(117deg, rgba(195,194,204,1) 0%, rgba(113,121,129,1) 25%, rgba(179,190,193,1) 100%);
  padding: 0.5vh;
  text-align: center;
  border-radius: 25px 25px 0 0;
  text-shadow: 2px 2px silver;
}


#me {
  margin: 2px 0 2px 0;
  text-align: center;
}

#container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

#navigation {
position: relative;
text-align: center;
flex-direction: column;
height: 30px;
 min-height: 20px;
 width: 100%;
 background-color: #72A0C1;
transition: 0.5s;
border-radius: 0 0 25px 25px;
}

#navigation:hover {
position: relative;
text-align: center;
flex-direction: column;
height: 30px;
 min-height: 20px;
 width: 100%;
 background: rgb(195,194,204);
 background: linear-gradient(117deg, rgba(195,194,204,1) 0%, rgba(113,121,129,1) 19%, rgba(179,190,193,1) 100%);
transition: 0.5s;
border-radius: 0 0 25px 25px;
}

.navHomeButton {
  padding: 1px 2px 2px 2px;
  text-decoration: none;
  font-size: 25px;
  color: #101010;
  display: block;
  transition: 0.6s;
}

.navButton {
  padding: 8px 8px 8px 8px;
  /* text-decoration: block; */
  font-size: 15px;
  color: #101010;
  display: none;
  transition: 0.6s;
}
#footerDiv {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  position: fixed;
  bottom:0px;
  height: auto;
  width:100%;
  border: 4px solid #72A0C1;
  background-color: #72A0C1;
  padding: 1vh 1vw;
  color:white;
  border-radius: 25px;
  color: black;
}

@media only screen and (max-width: 600px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    gap:0.2em;
    position: fixed;
    bottom:0px;
    height: auto;
    width:100%;
    border: 1px solid #72A0C1;
    background-color: #72A0C1;
    color:white;
    border-radius: 25px;
    color: black;
  }
}

.footer {
}



/* ////////////// */
#carousel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  padding: 0 2em 2em 2em;
  max-width: 100%;
  padding-bottom: 5em;
}

#carouselImages img {
  max-width: 60%;
  display: none;
  justify-content: center;
  margin: auto;
}

#carouselImages img:first-of-type {
  display: flex;
  height: auto;
  border: 0.3em solid black;
}

/* Project text */
#projectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.7em 0 0 0;
}

#projectDescription {
  font-size: 0.6em;
  width: 60%;
  justify-content: center;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
}

/* arrow buttons */
.arrow {
  border: solid black;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 1.5em;
  margin-top: 5em;
}

/* phone display */
@media (max-width: 600px) {
  .arrow {
    border: solid black;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    padding: 0.6em;
    margin-top: 5em;
  }

  #carouselImages img {
    max-width: 80%;
    display: none;
    justify-content: center;
    margin: auto;
  }
}
/* phone display */

.arrow:hover {
  box-shadow: 0.2em 0.3em #A9A9A9;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 1.5em;
  margin-top: 5em;
}

.right {
  /* transform: rotate(-45deg); */
  -webkit-transform: rotate(-45deg);
}

.left {
  /* transform: rotate(135deg); */
  -webkit-transform: rotate(135deg);
}
/* ////////////// */



/* Model design */


#model {
  display: none;
  background-color: rgba(255,255,255,0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  position: fixed;
}

#modalText {
  background-color: white;
  height: 350px;
  width: 550px;
  margin: auto;
  padding: 15px;
  margin-top: 15%;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

@media only screen and (max-width: 600px) {
  #modalText {
    background-color: white;
    height: 400px;
    width: 350px;
    margin: auto;
    padding: 15px;
    margin-top: 15%;
    border-radius: 25px;
    overflow: scroll;
    border: 1px solid black;
    box-shadow: 3px 3px black;
  }
}

#closeBtn {
  margin-top: 3em;
  text-align: right;
}
