html, body {
  min-height: 100vh;
  max-width: 100%;
    background-image: url("background.jpg");
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background: rgb(195,194,204);
  background: linear-gradient(117deg, rgba(195,194,204,1) 0%, rgba(113,121,129,1) 25%, rgba(179,190,193,1) 100%);
  padding: 0.5vh;
  text-align: center;
  border-radius: 25px 25px 0 0;
  text-shadow: 2px 2px silver;
  margin: 1em 1em 0 1em;
  border: 1px solid black;
  border-bottom: none;
  font-family: 'Michroma', sans-serif;
}

#container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
overflow: auto;
height: 100%;
flex: 1 0 auto;
}

#navigation {
position: relative;
text-align: center;
flex-direction: column;
height: 30px;
 min-height: 20px;
 max-width: 100%;
 background-color: #72A0C1;
transition: 0.5s;
border-radius: 0 0 25px 25px;
margin: 0 1em 0 1em;
border: 1px solid black;
border-top: none;

}

#navigation:hover {
position: relative;
text-align: center;
flex-direction: column;
height: 30px;
 min-height: 20px;
 max-width: 100%;
 background: rgb(195,194,204);
 background: linear-gradient(117deg, rgba(195,194,204,1) 0%, rgba(113,121,129,1) 19%, rgba(179,190,193,1) 100%);
transition: 0.5s;
border-radius: 0 0 25px 25px;
margin: 0 1em 0 1em;
border: 1px solid black;
border-top: none;
}


.navHomeButton {
  padding: 0.1em;
  text-decoration: none;
  font-size: 1.2em;
  color: #101010;
  display: block;
  transition: 0.6s;
  font-family: 'Michroma', sans-serif;
}

.navButton {
  padding: 8px 8px 8px 8px;
  /* text-decoration: block; */
  font-size: 15px;
  color: #101010;
  display: none;
  transition: 0.6s;
  font-family: 'Michroma', sans-serif;
}
#img1 {
  display: flex;
  justify-content: center;
}

.photoMe {
  height: auto;
  width: 30%;
  margin: 20px;
  border: 0.3em solid #72A0C1;
}

#footerDiv {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 7vh;
}
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  height: auto;
  width:100%;
  border: 4px solid #72A0C1;
  background-color: #72A0C1;
  padding: 1vh 1vw;
  color:white;
  color: black;
  font-family: 'Michroma', sans-serif;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6em;
    gap:0.2em;
    height: auto;
    width:100%;
    border: 1px solid #72A0C1;
    background-color: #72A0C1;
    color:white;
    color: black;
    font-family: 'Michroma', sans-serif;
  }
}

/* Home page CSS */
#intro {
  font-size: 1.4rem;
}

#greetingsContainer {
  display: flex;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: auto;
  font-family: 'Michroma', sans-serif;
}

#typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.4rem;
    position: relative;
    width: 0%;
    animation: typing 4s forwards;
    animation-delay: 1s;
}

 @keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

#greetings {
  text-align: center;
}

#aboutMe {
  flex: 1;
  position: relative;
  white-space: pre-wrap;
  text-align: center;
  padding: 5em;
  border: 0.1px solid silver;
  padding: 0.4em;
  background-color: rgba(255,255,255,0.85);
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  #aboutMe {
    flex: 1;
    position: relative;
    margin: 0 0.2em 5em 0.2em;
    border: 1px solid black;
    padding: 0.4em;
    background-color: white;
  }
}

/* Model design */
#model {
  display: none;
  background-color: rgba(255,255,255,0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  position: fixed;
}

#modalText {
  background-color: white;
  height: 350px;
  width: 550px;
  margin: auto;
  padding: 15px;
  margin-top: 15%;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}
@media only screen and (max-width: 600px) {
  #modalText {
    background-color: white;
    height: 400px;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-top: 15%;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 3px 3px black;
  }

  #intro, #typed-out {
    font-size: 1em;
  }
}

#closeBtn {
  margin-top: 3em;
  text-align: right;
}
