body {
  background-color: #B9D9EB;
}

header {
  display: 100%;
  background-color: #6CB4EE;
  padding: 1vh 1vw;
  text-align: center;
}

#container {
display: flex;
position: relative;
min-height: 100vh;
align-items: column;
justify-content: center;

}

#navigation {

}

#footer {
  position:absolute;
  text-align: center;
  bottom:0px;
  height:30px;
  width:100%;
  background-color: #6CB4EE;
  padding: 1vh 1vw;
  color:white;
}
