body {
  background-color: #B9D9EB;
}

header {
  display: 100%;
  background-color: #6CB4EE;
  padding: 1vh 1vw;
  text-align: center;
  border-radius: 25px;
}

#container {
display: flex;
position: relative;
min-height: 100vh;
justify-content: center;

}

#navigation {
 height: 100%;
 width: 35px;
 position: fixed;
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #6CB4EE;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s;
/* border-radius: 0 0 25px 25px; */
}

.navHomeButton {
  padding: 1px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navButton {
  padding: 8px 8px 8px 32px;
  text-decoration: block;
  font-size: 25px;
  color: #818181;
  display: none;
  transition: 0.3s;
}
#footerDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  bottom:0px;
  height: auto;
  width:100%;
  border: 10px solid #6CB4EE;
  background-color: #6CB4EE;
  padding: 1vh 1vw;
  color:white;
  border-radius: 25px;
}

.footer {
}
